.dropdown::-webkit-scrollbar {
    width: 15px;
}

.dropdown::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.dropdown::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(147 51 234);
}
